img {
    height: 15%;
    width:15%;
}
nav{
    font-size: 125%;
}
 #map {
      border: 2px solid #333;
      width: 80vw;
      height: 80vh;
}
.card1{
    border-color:#3e3e3e;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
}
.card2{
    border-color:#4a8959;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
}
.card3{
    border-color:#e66641;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
}
.card4{
    border-color:#d6990d;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
}
h5{
    font-family: avenir next;
    font-size: 40px;
    font-weight: bold;
}
.card-title1{
    color:#3e3e3e;
}
.card-title2{
    color:#4a8959;
}
.card-title3{
    color:#e66641;
}
.card-title4{
    color:#d6990d;
}
.background{
    background-color: #3e3e3e
}