.margin-top {
    margin-top: 10px;
}

.block1 {
    height: 50em;
    border: 10px solid #292b2c;
}

.block2 {
    height: 25em;
    background-color: white;
    border: 10px solid #292b2c;
}
/*#6c757d*/

body {
    background-color: #292b2c;
}

#cover {
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
#form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: -1;
    border-radius: 5px;   
}

#profile {
    width: 20em;
}

#avatar {
    border-radius: 50%;
}

.custom-dropdown {
    width: 15em;
}

.custom-textbox {
    width: 5em;
}

#accountForm{
    height: 30em;
    width: 50em;
}

.teamLogo {
    height: 30%;
    width: 30%;
}

.block2 {
    height: 25em;
    background-color: white;
    border: 10px solid #292b2c;
}